.fha
{
        background-color: rgb(170,206,249);
        margin-top: 10px;
}
.fullahh
{
        background-color: rgb(170,206,249);
}
.magi
{
        padding: 5px;
        margin-left: 700px;
}
.text
{
        margin-top: -400px;
}
